html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  font-family: proxima-nova-soft, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px
}

input {
  font: inherit;
  color: purple;
}

input[type=checkbox] {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 30em) {
  html {
    font-size: 16px
  }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  html {
    font-size: 16px
  }
}

@media screen and (min-width: 60em) {
  html {
    font-size: 16px
  }
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}

.sans-serif {
  font-family: proxima-nova-soft, "Helvetica Neue", Helvetica, Arial, sans-serif
}

.serif {
  font-family: museo-slab, "Museo Slab", Georgia, "Times New Roman", Times, serif
}

.mono, code, .code, pre {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace
}

.system-sans-serif {
  font-family: sans-serif
}

.system-serif {
  font-family: serif
}

.announce {
  margin-left: 20px;
}

.announce tfoot {
  text-align: left;
}

.announce ul {
  line-height: 1.5em;
}

.totalAsset {
  color: purple;
  font-size: 1.5em;
  font-weight: bold;
}

.totalAsset .note {
  font-size: 0.75em;
  font-weight: normal;
  margin-left: 0.5em;
}

.assetAllocation {
  color: purple;
  font-weight: bold;
}

.bucket .note {
  font-size: 0.5em;
  font-weight: normal;
  margin-left: 0.5em;
}

.portfolio {
  border-collapse: collapse;
  border: 1px solid gray;
  margin: 20px 20px;
}

.portfolio th, .portfolio td {
  border: 1px solid gray;
  padding: 5px;
}

.portfolio th {
  background-color: silver;
}

.portfolio .bucket {
  font-size: 2em;
  font-weight: bold;
  padding: 15px;
}

.portfolio .class {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px;
}

.portfolio .hold {
  background-color: #FFD700;
}

.portfolio .pend {
  background-color: #F0E68C;
}

.portfolio .hide {
  visibility: collapse;
}

.portfolio .note {
  font-size: 0.5em;
  font-weight: normal;
  margin-left: 0.5em;
}

.portfolio .objective {
  min-width: 250px;
}

.portfolio .comment {
  min-width: 200px;
}